.picture {
  height: 400px;
  object-fit: contain;
  box-shadow: slategray 2px 2px 30px;
  margin: 30px 30px 30px 200px;
}

.margin {
  margin: 20px;
}

.shopList {
  width: 270px;
  background-color: linen;
  position: fixed;
  right: 10%;
  top: 10%;
}

.checked:checked + label {
  text-decoration: line-through;
}

.btn {
  margin-left: 7px;
}

.progPic {
  display: block;
  width: 30%;
}

.hr {
  text-align: left;
}

.itemIcon {
  width: 10%;
}

.cartIcon {
  width: 100px;
  cursor: pointer;
  position: fixed;
  right: 5%;
  text-align: center;
}